body,
button {
  background-color: bisque;
  font-family: "Times New Roman", Times, serif;
}
div {
  background-color: #fff;
  padding: 50px;
  margin: 50px auto;
  max-width: 50%;
  text-align: center;
}
button {
  border: none;
  text-transform: capitalize;
  padding: 10px 20px;
}
