input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 216px;
  height: 1px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #000;
  height: 1px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #000;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin-top: -3px;
}

#range-output {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

#range-output {
  margin-bottom: 3px;
  margin-left: 3.5px;
  position: relative;
  width: fit-content;
}
