.black {
  background: #000;
}
.brown {
  background: #512a1e;
}
.white {
  background: #e5e5e5;
}
.salmon {
  background: #cb988f;
}
.navy {
  background: #4c4b90;
}
.charcoal {
  background: #2c2c2c;
}
.magenta {
  background: #c92976;
}
.banana {
  background: #d7b606;
}
.red {
  background: #eb1616;
}
.lightblue {
  background: #6e8bc5;
}
.lightpurple {
  background: #bf95a8;
}
.darkblue {
  background: #262f6d;
}
.darkgreen {
  background: #34535b;
}
