<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
    <div class="apie content">
      <h2>Apie mane</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium hic
        fugit ad eos ratione quis!
      </p>
      <p>
        Saepe ut culpa accusantium temporibus alias facere corporis excepturi
        laudantium. Necessitatibus soluta veniam numquam cum?
      </p>
      <p>
        Earum deserunt harum accusamus hic voluptas, ex beatae expedita,
        exercitationem ab corporis rem repellendus delectus!
      </p>
    </div>

<%- include('./partials/footer.ejs') %>
